IOT/Flow-NodeRed.txt
[{"id":"88435ee7.33489","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"addfc075.73664","type":"mqtt in","z":"88435ee7.33489","name":"","topic":"Challenge/400BadRequest/Pergunta","qos":"0","datatype":"auto","broker":"f87f21bf.8ab3","nl":false,"rap":true,"rh":0,"x":240,"y":700,"wires":[["ad64ed90.8f3a6"]]},{"id":"ad64ed90.8f3a6","type":"exec","z":"88435ee7.33489","command":"cd C:\\Users\\Gabriel\\Downloads\\Challenge\\Challenge-ReconhecimentoLibrasEmImagens & python C:\\Users\\Gabriel\\Downloads\\Challenge\\Challenge-ReconhecimentoLibrasEmImagens\\challenge_libras_em_imagens.py","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Challenge-Imagens","x":510,"y":700,"wires":[["8a925224.c32e5"],["8a925224.c32e5"],["8a925224.c32e5"]]},{"id":"8a925224.c32e5","type":"change","z":"88435ee7.33489","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":700,"wires":[["7d4ad2b5.fbb2dc","818b9b61.f78cf8","a01eb962.247738"]]},{"id":"7d4ad2b5.fbb2dc","type":"template","z":"88435ee7.33489","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":1160,"y":520,"wires":[["68a5673f.929348"]]},{"id":"68a5673f.929348","type":"debug","z":"88435ee7.33489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":520,"wires":[]},{"id":"818b9b61.f78cf8","type":"mqtt out","z":"88435ee7.33489","name":"","topic":"Challenge/400BadRequest/Resposta","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f87f21bf.8ab3","x":1290,"y":700,"wires":[]},{"id":"23cbc519.c2d68a","type":"comment","z":"88435ee7.33489","name":"Comando para executar o script","info":"","x":510,"y":640,"wires":[]},{"id":"6c68318e.8e18d","type":"http request","z":"88435ee7.33489","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/api/answer","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":860,"wires":[[]]},{"id":"a01eb962.247738","type":"template","z":"88435ee7.33489","name":"JsonResposta","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    resposta : {{payload}}\n    atendimentoId : {{atendimentoId}}\n}","output":"str","x":1180,"y":860,"wires":[["6c68318e.8e18d"]]},{"id":"2ff31f93.457b1","type":"comment","z":"88435ee7.33489","name":"Entrada do protocolo mqtt enviado pelo aplicativo","info":"","x":220,"y":780,"wires":[]},{"id":"74b06d63.c66624","type":"comment","z":"88435ee7.33489","name":"Setando a resposta do programa","info":"","x":770,"y":780,"wires":[]},{"id":"63cb30a5.83825","type":"comment","z":"88435ee7.33489","name":"Json formtado para o metodo HTTP POST do endpoint da api","info":"","x":1160,"y":920,"wires":[]},{"id":"40c27c04.104e84","type":"comment","z":"88435ee7.33489","name":"Metodo HTTP POST do endpoint api/answer","info":"> ","x":1430,"y":800,"wires":[]},{"id":"ef3fb2e4.fb1a1","type":"comment","z":"88435ee7.33489","name":"Envio de resposta do programa para o topico ","info":"> ","x":1290,"y":640,"wires":[]},{"id":"ab94863e.327078","type":"comment","z":"88435ee7.33489","name":"Nó de Debug","info":"","x":1250,"y":460,"wires":[]},{"id":"f87f21bf.8ab3","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]